In [1]:
import json 
import numpy as np
import pandas as pd

from scipy.stats import sem

In [2]:
from utils import load_json_files_from_dir, process_dataset
from utils import get_separation_score, get_score_by_appended_type, get_score_by_domain

## Separation score on SEP dataset for Llama-2-7b

In [3]:
model_outputs = load_json_files_from_dir("./model_outputs/llama/")

Including 6000-8000.json
Including 0-2000.json
Including 2000-4000.json
Including 8000-10000.json
Including 4000-6000.json
Total items loaded: 9160

In [4]:
processed_output = process_dataset(model_outputs)

In [5]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.363,0.787,0.468,"[0.607, 0.008]"
insistent,0.671,0.885,0.673,"[0.306, 0.007]"
global,0.518,0.837,0.572,"[0.447, 0.006]"

In [6]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.472503,0.824901,0.544655,"[0.49, 0.012]"
lr,0.543276,0.818464,0.562361,"[0.435, 0.012]"
rl,0.499563,0.847465,0.581294,"[0.452, 0.011]"
rr,0.55584,0.855072,0.59676,"[0.411, 0.011]"
left-any,0.507889,0.821683,0.553508,"[0.463, 0.008]"
right-any,0.527701,0.851269,0.589027,"[0.431, 0.008]"
any-left,0.486033,0.836183,0.562974,"[0.471, 0.008]"
any-right,0.549558,0.836768,0.579561,"[0.423, 0.008]"

In [7]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.430,0.849,0.506,"[0.538, 0.01]"
Analytical,0.517,0.890,0.561,"[0.456, 0.009]"
Creative,0.609,0.765,0.650,"[0.331, 0.01]"

## Separation score on SEP dataset for Llama-2-13b

In [8]:
model_outputs = load_json_files_from_dir("./model_outputs/llama13b/")

Including 6000-10000.json
Including 3000-6000.json
Including 0-3000.json
Total items loaded: 9160

In [9]:
processed_output = process_dataset(model_outputs)

In [10]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.471,0.748,0.575,"[0.469, 0.009]"
insistent,0.762,0.904,0.766,"[0.208, 0.006]"
global,0.618,0.826,0.671,"[0.325, 0.005]"

In [11]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.551694,0.776947,0.636604,"[0.379, 0.012]"
lr,0.675988,0.770972,0.687528,"[0.264, 0.011]"
rl,0.560315,0.875,0.637238,"[0.387, 0.011]"
rr,0.682012,0.879795,0.720375,"[0.271, 0.01]"
left-any,0.613841,0.773959,0.662066,"[0.322, 0.008]"
right-any,0.621163,0.877398,0.678806,"[0.328, 0.007]"
any-left,0.556004,0.825973,0.636921,"[0.383, 0.008]"
any-right,0.679,0.825384,0.703951,"[0.268, 0.007]"

In [12]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.514,0.818,0.606,"[0.427, 0.01]"
Analytical,0.644,0.865,0.687,"[0.308, 0.009]"
Creative,0.695,0.793,0.719,"[0.239, 0.009]"

## Separation score on SEP dataset for OpenHermes 2.5

In [13]:
model_outputs = load_json_files_from_dir("./model_outputs/hermes/")

Including 0-3000.json
Including 3000-6000.json
Including 6000-10000.json
Total items loaded: 9160

In [14]:
processed_output = process_dataset(model_outputs)

In [15]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.599,0.513,0.599,"[0.306, 0.01]"
insistent,0.707,0.614,0.654,"[0.206, 0.008]"
global,0.654,0.564,0.627,"[0.251, 0.006]"

In [16]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.58249,0.338759,0.589969,"[0.245, 0.016]"
lr,0.713271,0.316023,0.512206,"[0.143, 0.013]"
rl,0.588287,0.792395,0.652535,"[0.348, 0.011]"
rr,0.729327,0.795823,0.746803,"[0.201, 0.009]"
left-any,0.647881,0.327391,0.551088,"[0.196, 0.01]"
right-any,0.658807,0.794109,0.699669,"[0.273, 0.007]"
any-left,0.585388,0.565577,0.621252,"[0.317, 0.009]"
any-right,0.721299,0.555923,0.629505,"[0.185, 0.008]"

In [17]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.545,0.526,0.623,"[0.34, 0.012]"
Analytical,0.715,0.615,0.633,"[0.217, 0.009]"
Creative,0.697,0.545,0.624,"[0.206, 0.01]"

## Separation score on SEP dataset for Dolphin 2.2.1

In [18]:
model_outputs = load_json_files_from_dir("./model_outputs/dolphin/")

Including 6000-10000.json
Including 0-3000.json
Including 3000-6000.json
Total items loaded: 9160

In [19]:
processed_output = process_dataset(model_outputs)

In [20]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.297,0.379,0.633,"[0.592, 0.012]"
insistent,0.449,0.535,0.586,"[0.468, 0.01]"
global,0.374,0.458,0.609,"[0.519, 0.008]"

In [21]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.366916,0.260889,0.682798,"[0.405, 0.02]"
lr,0.369285,0.242787,0.63826,"[0.484, 0.021]"
rl,0.377622,0.648601,0.576923,"[0.535, 0.013]"
rr,0.380222,0.668372,0.542199,"[0.558, 0.013]"
left-any,0.368101,0.251838,0.660529,"[0.443, 0.015]"
right-any,0.378922,0.658487,0.559561,"[0.547, 0.009]"
any-left,0.372269,0.454745,0.629861,"[0.498, 0.011]"
any-right,0.374754,0.45558,0.59023,"[0.539, 0.011]"

In [22]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.310,0.455,0.609,"[0.589, 0.013]"
Analytical,0.375,0.493,0.604,"[0.521, 0.013]"
Creative,0.436,0.422,0.616,"[0.438, 0.014]"

## Separation score on SEP dataset for Zephyr-7b Beta

In [23]:
model_outputs = load_json_files_from_dir("./model_outputs/zephyr/")

Including 6000-8000.json
Including 2000-4000.json
Including 8000-10000.json
Including 4000-6000.json
Including 0-2000.json
Total items loaded: 9160

In [24]:
processed_output = process_dataset(model_outputs)

In [25]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.566,0.47,0.578,"[0.347, 0.01]"
insistent,0.688,0.53,0.585,"[0.243, 0.009]"
global,0.627,0.50,0.581,"[0.291, 0.007]"

In [26]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.546854,0.282446,0.551694,"[0.326, 0.019]"
lr,0.694186,0.275189,0.470928,"[0.2, 0.016]"
rl,0.550699,0.718094,0.606206,"[0.391, 0.012]"
rr,0.716113,0.714408,0.692242,"[0.214, 0.01]"
left-any,0.62052,0.278817,0.511311,"[0.264, 0.012]"
right-any,0.633406,0.716251,0.649224,"[0.302, 0.008]"
any-left,0.548777,0.50027,0.57895,"[0.372, 0.01]"
any-right,0.705149,0.494798,0.581585,"[0.21, 0.009]"

In [27]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.592,0.465,0.585,"[0.31, 0.012]"
Analytical,0.632,0.510,0.566,"[0.306, 0.011]"
Creative,0.658,0.526,0.595,"[0.259, 0.011]"

## Separation score on SEP dataset for GPT-3.5

In [34]:
model_outputs = load_json_files_from_dir("./model_outputs/gpt-3.5/")

Including 9141-9160.json
Including 1981-2000.json
Including 2000-4000.json
Including 8000-9160.json
Including 6000-8000.json
Including 5981-6000.json
Including 3981-4000.json
Including 7981-8000.json
Including 4000-6000.json
Including 0-2000.json
Total items loaded: 9160

In [35]:
processed_output = process_dataset(model_outputs)

In [36]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.255,0.532,0.543,"[0.689, 0.009]"
insistent,0.337,0.750,0.471,"[0.628, 0.008]"
global,0.296,0.641,0.507,"[0.653, 0.006]"

In [37]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.215574,0.604048,0.484822,"[0.748, 0.012]"
lr,0.367066,0.594319,0.540169,"[0.578, 0.014]"
rl,0.210664,0.681818,0.445804,"[0.752, 0.011]"
rr,0.389599,0.682864,0.556692,"[0.539, 0.012]"
left-any,0.29132,0.599183,0.512495,"[0.664, 0.009]"
right-any,0.300132,0.682341,0.501248,"[0.644, 0.009]"
any-left,0.213119,0.642933,0.465313,"[0.75, 0.008]"
any-right,0.378333,0.638592,0.54843,"[0.557, 0.009]"

In [38]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.176,0.574,0.492,"[0.789, 0.01]"
Analytical,0.259,0.708,0.442,"[0.711, 0.009]"
Creative,0.459,0.636,0.594,"[0.459, 0.012]"

## Separation score on SEP dataset for GPT-4

In [40]:
model_outputs = load_json_files_from_dir("./model_outputs/gpt-4/")

Including 3981-4000.json
Including 4000-6000.json
Including 7981-8000.json
Including 9141-9160.json
Including 0-2000.json
Including 8000-9160.json
Including 2000-4000.json
Including 1981-2000.json
Including 5981-6000.json
Including 6000-8000.json
Total items loaded: 9160

In [41]:
processed_output = process_dataset(model_outputs)

In [42]:
get_separation_score(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
neutral,0.611,0.771,0.622,"[0.349, 0.008]"
insistent,0.859,0.973,0.866,"[0.127, 0.005]"
global,0.736,0.873,0.745,"[0.225, 0.005]"

In [43]:
get_score_by_appended_type(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
ll,0.645403,0.827981,0.66432,"[0.313, 0.011]"
lr,0.830004,0.830448,0.791833,"[0.126, 0.008]"
rl,0.635052,0.920455,0.674388,"[0.332, 0.01]"
rr,0.830776,0.91006,0.8474,"[0.127, 0.007]"
left-any,0.737703,0.829214,0.728077,"[0.22, 0.007]"
right-any,0.732914,0.915257,0.760894,"[0.229, 0.006]"
any-left,0.640227,0.874218,0.669354,"[0.323, 0.007]"
any-right,0.83039,0.870254,0.819616,"[0.127, 0.005]"

In [44]:
get_score_by_domain(*processed_output)

,probe_in_data_asr,probe_in_sys_asr,same_output_rate,sep_metric_mean_std
Information,0.649,0.852,0.718,"[0.284, 0.009]"
Analytical,0.774,0.920,0.765,"[0.207, 0.007]"
Creative,0.781,0.842,0.750,"[0.184, 0.008]"